
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin-top: 0;
}

h1 {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: bolder;
}

h2 {
  color: #0097a7;
  font-size: 1.25rem;
  font-weight: bolder;
  margin-bottom: 0.125rem;
}

h6 {
  color: #888888;
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
}

.submit-button {
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  text-align: center;
  align-self: flex-start;
}

input {
  min-height: 2rem;
  font-family: inherit;
  border-style: none;
  border-radius: 0.25rem;
  background-color: #e0f7fa;
  color: #0097a7;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  vertical-align: middle;
}

input:hover {
  background-color: #0097a7;
  color: #fbfbfb;
}

select {
  border-radius: 0.25rem;
  min-height: 2rem;
  border-style: none;
  font-family: inherit;
  background-color: #f0f0f0;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  vertical-align: middle;
}

select > option {
  font-family: inherit;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
}


hr {
  color: #fbfbfb;
}

#result {
  text-align: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 4rem;
  left: 0;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-left: 3rem;
  padding-right: 2rem;
}

#result > table {
  margin-left: auto;
  margin-right: auto;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}

form > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.row {
  display: flex;
  margin-top: 4rem;
  margin-left: 3rem;
}

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 3;
}

#app-bar {
  color: #fff;
  background-color: #00838f;
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: row;
  min-height: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: space-between;
}

.nav-button {
  padding-left: 2rem;
  padding-right: 2rem;
}

a {
  text-decoration: none;
  color: #bae5eb;
}

.app-bar-content {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

:target::before {
  content: "";
  display: block;
  height: 4.5rem; /* fixed header height*/
  margin: -4.5rem 0 0; /* negative fixed header height */
}

.full-width {
  font-size: 0.85rem;
  width: 100%;
}

tr:nth-child(odd) {
  background: #f3f3f3;
} 

td {
  text-align: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  white-space: nowrap;
}

table, th, td, tr { 
  border-width: 0; 
}