body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin-top: 0;
}

h1 {
  color: #ffffff;
  font-size: 1.5rem;
}

h2 {
  color: #0097a7;
  font-size: 1.25rem;
}

input {
  height: 1.5rem;
  font-family: inherit;
  border-style: none;
  border-radius: 0.25rem;
  background-color: #e0f7fa;
  color: #0097a7;
  padding: 0.25rem;
  vertical-align: middle;
}

input:hover {
  background-color: #0097a7;
  color: #fbfbfb;
}

hr {
  color: #fbfbfb;
}

#result {
  text-align: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 4rem;
  left: 0;
  height: 0;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#result > table {
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  margin-top: 4rem;
  margin-left: 3rem;
}

#app-bar {
  color: #fff;
  background-color: #00838f;
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 1100;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: row;
  min-height: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.app-bar-content {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}